{% extends "base.html" %}

{% load static %}

{% block page_heading %}
    <h1>Questions</h1>
{% endblock page_heading %}

{% block content %}
    <p>Currently all questions are Python questions.</p>

    {% if questions %}
        <div>
            {% for question in questions %}
                <div>
                    {% if question.completed %}
                        <img class="question-checkbox" src="{% static 'img/icons/icons8-checked-checkbox-50.png' %}" />
                    {% else %}
                        <img class="question-checkbox" src="{% static 'img/icons/icons8-unchecked-checkbox-50.png' %}" />
                    {% endif %}
                    <a href="{{ question.get_absolute_url }}">
                        {{ question.title }}
                    </a>
                    <em class="text-muted">
                        ({{ question.QUESTION_TYPE }})
                    </em>
                </div>
            {% endfor %}
            </div>
    {% endif %}
{% endblock %}
