{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="col-12 my-3">
        <h3>{{ question.title }}</h3>
        {{ question.question_text|safe }}

        {% if not request.user.is_authenticated %}
            <div class="alert alert-warning" role="alert">
                <a href="{% url 'account_login' %}" class="alert-link">Login to your account now</a> to save
                any progress.
            </div>
        {% endif %}
    </div>

    <div class="col-12">
        {% if question.QUESTION_TYPE == QUESTION_TYPE_PARSONS %}
            {% include "codewof/question_components/editor-parsons.html" %}
        {% else %}
            {% include "codewof/question_components/editor-python.html" %}
        {% endif %}

        <input id="run_code" type="button" value="Run code" class="btn btn-primary mb-3" />
        <div id="submission_feedback"></div>
    </div>

    <div class="col-12">
        {% if question.QUESTION_TYPE == QUESTION_TYPE_PROGRAM %}
            {% include "codewof/question_components/test-case-programs-table.html" %}
        {% else %}
            {% include "codewof/question_components/test-case-functions-table.html" %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% csrf_token %}
    <script>
        var csrf_token = jQuery("[name=csrfmiddlewaretoken]").val();
        var question_id = {{ question.id }};
        var test_cases_list = {{ test_cases_json| safe }};
    </script>
    <script src="{% static question_js %}"></script>
{% endblock scripts %}
