{% extends "base.html" %}

{% block content %}
    <b>Questions</b>
    {% if questions %}
        <ul>
        {% for question in questions %}
            <li>
                <a href="{% url 'codewof:question' question.id %}" class="{% if question.completed %}completed {% elif question.attempted %} attempted {% endif %}">
                    {{ question.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No questions are available for this category</p>
    {% endif %}
{% endblock %}
