{% extends 'questions/base.html' %}

{% block content %}
<div id="profile-info">
    <b>Username</b>: {{user.username}}
    <br>
    <b>Name</b>: {{user.first_name}} {{user.last_name}}
    <br>
    <b>Email</b>: {{user.email}}
    <br>
    <b>Last login</b>: {{user.last_login|date:"M d, Y"}}
    <br>
    <b>Date joined</b>: {{user.date_joined}}
    <br>
    <b>Days logged in</b>:
    <br>
    {% for day in user.profile.loginday_set.all %}
        {{day}}
        <br>
    {% endfor %}
    <b>Points</b>: {{user.profile.points}}
    <br>
    <b>Achievements</b>:
    <br>
    {% for badge in all_badges %}
        {% if badge in user.profile.earned_badges.all %}
        <u>{{badge.name}} - {{badge.description}}</u>
        {% else %}
        <i>{{badge.name}} - {{badge.description}}</i>
        {% endif %}
        <br>
    {% endfor %}
    <b>History</b>:
    <br>
    {% for question in history %}
    <a href="/questions/{{question.id}}">
        {% if question.completed %}
        <div style="color:#008b00">
            {{question.latest_attempt}} {{question.title}}. Attempts: {{question.n_attempts}}
        </div>
        {% else %}
        <div style="color:#9b9b00">
            {{question.latest_attempt}} {{question.title}}. Attempts: {{question.n_attempts}}
        </div>
        {% endif %}
    </a>
    {% endfor %}
</div>
<a href="/change_password">Change password</a>

<div class="js-gauge demo gauge"></div>

{% endblock %}

{% block javascript %}
<script>
    $('.demo').kumaGauge({
        value : 100,
        radius: 90,
        gaugeWidth: 40,
        fill : '0-#fa4133:0-#ffaa00:35-#fdee37:50-#1cb42f:100',
        showNeedle : false, 
        label: {
            display: false,
        }
    });
</script>
{% endblock %}