<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <h3>Available lines</h3>
        <div id="available-lines" class="parsons-drag-container">
            {% for line in question.lines_as_list %}
                <div class="parsons-draggable-line">
                    <div class="parsons-line-content">
                        {{ line }}
                    </div>
                    <div class="parsons-drag-container"></div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <h3>Your solution</h3>
        <div id="user-code-lines" class="parsons-drag-container">
        </div>
    </div>
</div>
