{% load static svg %}

<div>
    <div class="d-inline-block img-x4">
        {% svg 'devicon-python' %}
    </div>
    <h1 class="d-inline-block">
        Python 3 Style Checker <small class="text-muted">for beginners</small>
    </h1>
</div>
<p>
    This style checker will check your code against the main conventions recommended for Python in <a
        href="https://www.python.org/dev/peps/pep-0008/">PEP 8</a> (Style Guide for Python Code) and <a
        href="https://www.python.org/dev/peps/pep-0257/">PEP 257</a> (Docstring Conventions).
    Fine tuning your code to pass these common conventions makes it easy for others to read your Python code.
</p>
