{% extends "base.html" %}
{% load static %}

{% block title %}Achievements{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="display-3 orange-underline text-center">Achievements</h1>
    <h3>Achievements earned: {{ num_achievements_earned }}/{{ num_achievements }}</h3>
    <div class="col-12 col-md-8 offset-md-2 mb-3">
        <br>
        <div class="row">
            {% for achievement in user.profile.earned_achievements.all %}
                <div class="col-4 achievement-container">
                    <img class="achievement-icon" src="{% static achievement.icon_name %}">
                    <b>{{ achievement.display_name }}</b>
                </div>
            {% endfor %}
            {% for achievement in achievements_not_earned %}
                <div class="col-4 achievement-container">
                    <img class="achievement-icon-unachieved" src="{% static achievement.icon_name %}">
                </div>
            {% endfor %}
        </div>
    </div>
  </div>
{% endblock content %}
