{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="display-3 orange-underline text-center">Kia ora {{ user.first_name }}!</h1>

    <div class="row">
      <div class="col-12 col-md-8 mb-3">
        <h2>Your questions for today</h2>
        <p>We recommend doing one or two questions per day, to maintain your programming skills over a long period of time.</p>

        {% if questions_to_do %}
          <div class="row">
            {% for question in questions_to_do %}
              <div class="col-12 col-md-6">
                {% include "programming/question_components/question-card.html" %}
              </div>
            {% endfor %}
          </div>
          {% if all_complete %}
            <div class="alert alert-success" role="alert">
              Great work completing today's questions! Come back tomorrow for a new set.
            </div>
          {% endif %}
        {% else %}
          <div class="alert alert-secondary" role="alert">
            <strong>Sorry!</strong> We currently don't have questions for you to do today.
          </div>
        {% endif %}
        <p>You've solved {{ num_questions_answered }} question{{ num_questions_answered|pluralize }} in the last month!</p>
      </div>

      <div class="col-12 col-md-4 mb-3">
        <h2>Points earned: {{ user.profile.points }}</h2>
        <h2>Achievements</a></h2>
        <br>
        {% for achievement in all_achievements %}
            {% if achievement in user.profile.earned_achievements.all and achievement.parent not in user.profile.earned_achievements.all %}
              <div class="achievement-container">
                <a class="achievements-link" href="{% url 'users:achievements' %}">
                  <img class="achievement-icon" src="{% static achievement.icon_name %}">
                  <b>{{ achievement.display_name }}</b>
                </a>
              </div>
            {% endif %}
        {% endfor %}
      </div>

      <div class="col-12 col-md-8 mb-3">
        <h2>Research</h2>

        {% if studies %}
          <p>The following studies are open for you to register for, to help improve programming education.</p>
          {% for study in studies %}
            {% include "research/components/research-card.html" %}
          {% endfor %}
        {% else %}
          <p>Currently no studies are listed.</p>
        {% endif %}
      </div>

      <div class="col-12 col-md-4 mb-3">
        <h2>Settings</h2>
        <div class="list-group">
          <a href="{% url 'users:update' %}" class="list-group-item list-group-item-action">
            Manage your profile
          </a>
          {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action">
              Open admin website
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
