{% extends "users/email_template.html" %}

{% block title %}CodeWOF Reminder Email{% endblock %}

{% block header %}Your friendly reminder{% endblock %}

{% block greeting %}Hi {{ username }},{% endblock %}

{% block main_message %}{{ message }}{% endblock %}

{% block link %}
  <!-- This link uses descriptive text to inform the user what will happen with the link is tapped. -->
  <!-- It also uses inline styles since some email clients won't render embedded styles from the head. -->
  <!-- TODO replace hardcoded url after Jack's infrastructure changes. -->
  <a href="https://www.codewof.co.nz/users/dashboard/" style="color: #007bff; text-decoration: underline;">
    Let's practice!
  </a>
{% endblock %}

{% block footer %}
  <footer>
    <div style="border-top: 2px solid #eaeaea;">
      <!-- This link uses descriptive text to inform the user what will happen with the link is tapped. -->
      <!-- It also uses inline styles since some email clients won't render embedded styles from the head. -->
      <!-- TODO replace hardcoded url after Jack's infrastructure changes. -->
      <p style="font-size: 16px; font-weight: 400; line-height: 24px;">
        You received this email because you opted into reminders. You can <a
        href="https://www.codewof.co.nz/users/update/" style="color: #007bff; text-decoration: underline;">change
        your reminder settings here</a>.
      </p>
    </div>
  </footer>
{% endblock %}
