{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "New Group" %}{% endblock %}

{% block content %}
<div class="container">
  {% if is_admin %}
    <div id="update-success-alert" class="alert alert-success alert-dismissible collapse" role="alert">
      Memberships successfully updated
    </div>

    <div id="update-danger-alert" class="alert alert-danger alert-dismissible collapse" role="alert">
    </div>
  {% endif %}

  <div class="row">
    <div class="col-12 col-md-8 mb-3">
      <div class="row">
        <div class="col">
          <h1>{{ group.name }}</h1>
          <p>{{ group.description }}</p>
        </div>

        {% if is_admin %}
        <div class="col-sm-auto">
          <a class="btn btn-primary btn-sm d-block mb-1 mt-2" href="{% url 'users:groups-edit' group.pk %}">
            Edit Group</a>
          <a class="btn btn-danger btn-sm d-block mb-1" href="{% url 'users:groups-delete' group.pk %}">Delete Group</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mb-3">
      <h2>Members</h2>

      <table id="members-table" class="table">
        <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          {% if is_admin %}
          <th scope="col">Delete?</th>
          {% endif %}
        </tr>
        </thead>

        <tbody id="members-table-tbody">
        {% for membership in memberships %}
        <tr id="membership-{{ membership.pk }}">
          <td>{{ membership.user.email }}</td>
          <td>{{ membership.user.first_name }} {{ membership.user.last_name }}</td>
          {% if is_admin %}
          <td>
            <select id="membership-{{ membership.pk }}-select" class="form-select" aria-label="Default select example" autocomplete=off>
              {% for role in roles %}
              {% if role == membership.role %}
              <option selected>{{ role }}</option>
              {% else %}
              <option>{{ role }}</option>
              {% endif %}}
              {% endfor %}
            </select>
          </td>
          <td class="text-center">
            <input id="membership-{{ membership.pk }}-checkbox" class="form-check-input" type="checkbox" value="" autocomplete=off {% if user.pk == membership.user.pk %}disabled{% endif %}>
          </td>
          {% else %}
          <td>{{ membership.role }}</td>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>

      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mb-3">
      {% if is_admin %}
        <button id="save-button" class="btn btn-success mb-1">Save</button>
      {% endif %}
    </div>
  </div>
</div>

<script>let membershipsUpdateURL = "{% url 'users:groups-update-memberships' group.pk %}"</script>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>

{% if is_admin %}
<script src="{% static js %}"></script>
{% endif %}
{% endblock scripts %}
