{% extends "rest_framework/base.html" %}

{% load static svg %}

{% block branding %}
  <a class="navbar-brand inverse-logo mr-0 pt-0" href="{% url 'general:home' %}">
    {% svg 'logo' %}
  </a>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/third-party/bootswatch-slate.min.css' %}">
  <link rel="stylesheet" href="{% static 'rest_framework/css/prettify.css' %}">
  <link rel="stylesheet" href="{% static 'css/api.css' %}">
{% endblock %}


{% block script %}
  <script type="text/javascript" src="{% static 'js/website.js' %}"></script>
{% endblock %}
