{% extends "base.html" %}

{% load static svg i18n %}

{% block custom_title %}codeWOF{% endblock custom_title %}

{% block body_container %}
    <div class="container">
        <div class="text-center mb-5">
            <h1 id="codewof-title" class="display-2 mt-4 mb-3">
                {% svg 'logo' %}
            </h1>
            <p class="lead">Strengthen your programming skills, and maintain your coding warrant of fitness.</p>

            {% if STAGING_ENVIRONMENT %}
                <div class="alert alert-warning d-inline-block mb-0" role="alert">
                    You are viewing the test website, which is used for testing and research.
                    Data will be wiped after research projects.
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <p>
                    Maintain your programming fitness with short daily programming exercises.
                    With a free account you can save your progress and track your programming fitness over time.
                </p>

                <p>
                    Currently we offer Python questions, and we would like to support Scratch and other programming languages in the future.
                    The exercises are intended for people who have used Python before, but are not yet fluent.
                    This site is not for learning how to program, but simply to regularly exercise what you already know.
                </p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <!-- TODO: Replace with entries from database that link to 'try it' mode -->
                <img src="{% static 'img/homepage/question-boxes.png' %}" class="img-fluid mb-3">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <img src="{% static 'img/homepage/editor.png' %}" class="img-fluid mb-3">
            </div>
            <div class="col-12 col-md-6">
                <p>
                    codeWOF is a free website developed by the University of Canterbury Computer Science Education Research Group in
                    partnership with DTTA to enable teachers and students in New Zealand to practice and maintain their programming skills
                    (your coding warrant of fitness).
                </p>

                <p>
                    We also allow you to participate in research studies to help us improve programming education.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <p>
                    This website and all of its content is open source, and curated for you.
                    It will evolve over time as we discover how to better equip students and teachers in their programming practice.
                </p>
            </div>
            <div class="col-12 col-md-6 px-5">
            </div>
        </div>

        <div class="text-center my-3">
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'users:dashboard' %}">{% trans "Go to my dashboard" %}</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'account_signup' %}">{% trans "Sign up for a free account" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock body_container %}
