{% extends "base.html" %}

{% load static svg i18n django_bootstrap_breadcrumbs %}

{% block title %}Style Checkers for schools{% endblock %}

{% block breadcrumbs %}
    {% trans "Home" as home_label %}
    {% breadcrumb home_label "general:home" %}
    {% breadcrumb "Style Checkers" "style:home" %}
{% endblock breadcrumbs %}

{% block page_heading %}
    <h1>Style Checkers <span class="text-muted">for beginners</span></h1>
{% endblock page_heading %}

{% block content %}
    <p>The following checkers provide feedback on the style of your code using professional standards. However we provide simplified descriptions and explanations to easily help you improve your coding style.</p>

    <p>The idea of simplifying style checkers for helping beginner programmers was created by Gerard MacManus.</p>

    <h2 class="h4">Available style checkers</h2>
    {% for language_code,language_data in languages.items %}
        <a href="{% url 'style:language' language_code %}" class="btn btn-light text-center border mr-3 mb-3">
            <div class="d-inline-block img-x4 pt-2">
                {% svg 'devicon-python' %}
            </div>
            <div><strong>{{ language_data.name }}</strong></div>
        </a>
    {% empty %}
        <p>Currently no style checkers are available.</p>
    {% endfor %}
    <p><a href="{% url 'general:contact' %}">Let us know</a> what languages you would like to see added next.</p>
{% endblock content %}
