{% extends "base.html" %}

{% load static %}

{% block title %}Python Style Checker for schools{% endblock %}

{% block page_heading %}
    {% include language_header %}
    <h2 class="mt-3">
        Style statistics
    </h2>
{% endblock page_heading %}

{% block content_container %}
    <div class="col-12 mb-3">
        <table class="table thead-dark">
            <thead>
                <tr>
                    <th scope="col" class="sticky-top">Code</th>
                    <th scope="col" class="sticky-top">Description</th>
                    <th scope="col" class="sticky-top">Count</th>
                    <th scope="col" class="sticky-top"></th>
                </tr>
            </thead>
            <tbody>
                {% for error in errors %}
                    <tr>
                        <th scope="row">{{ error.code }}</th>
                        <td>
                            {{ error.title }}
                            <!-- TODO: Check if title needs to be templated -->
                        </td>
                        <td>{{ error.count }}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content_container %}

{% block css %}
    <link href="{% static 'css/style_checker.css' %}" rel="stylesheet">
{% endblock css %}
