{% extends "base.html" %}

{% load static svg %}

{% block title %}Python Style Checker for schools{% endblock %}

{% block page_heading %}
    <div>
        <div class="d-inline-block img-x4">
            {% svg 'devicon-python' %}
        </div>
        <h1 class="d-inline-block">
            Python Style Checker <small class="text-muted">for schools</small>
        </h1>
    </div>
    <p>
        This style checker will check your code against the main conventions recommended for Python in <a href="https://www.python.org/dev/peps/pep-0008/">PEP 8</a> (Style Guide for Python Code) and <a href="https://www.python.org/dev/peps/pep-0257/"></a>PEP 257</a> (Docstring Conventions).
        Fine tuning your code to pass these common conventions makes it easy for others to read your Python code.
    </p>
{% endblock page_heading %}

{% block content_container %}
    <div class="col-12 col-md-6 mb-3">
        <div id="code-container" class="mb-1">
            <h3>Your code</h3>
            <div class="border">
                <textarea id="code" class="hidden"></textarea>
            </div>
            <div class="d-flex my-3">
                <button type="button" id="reset_btn" class="btn btn-sm btn-danger mr-1">
                    Reset
                </button>
                <button type="button" id="load_example_btn" class="btn btn-sm btn-secondary mr-1">
                    Load example
                </button>
                <button type="button" id="check_btn" class="btn btn-primary ml-auto">
                    Check for style issues
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div id="run-checker-result"></div>
        <div id="run-checker-error">
            <strong class="text-danger">Sorry!</strong>
            We have encountered an error.
            Feel free to <a href="{% url 'general:contact' %}">contact us</a> if this error continues.
        </div>
    </div>

{% endblock content_container %}

{% block css %}
    <link href="{% static 'css/style_checker.css' %}" rel="stylesheet">
{% endblock css %}

{% block scripts %}
    {{ block.super }}
    {% csrf_token %}
    <script type="text/javascript">
        var MAX_CHARACTER_COUNT = "{{ MAX_CHARACTER_COUNT }}";
    </script>
    <script src="{% static 'js/style_checkers/python.js' %}"></script>
{% endblock scripts %}
