<form class="form-inline">
    <div class="form-group" style="display:block">
        <div id="editor" class="form-control">{{question.buggy.buggy_program}}</div>
    </div>
</form>
<p>Find an input for which the above solution does <b>not</b> work as intended.</p>
{% if question.buggy.buggyfunction %}
<p>Parameters: {{form.params_input}} </p>
{% endif %}
<p>Standard Input: {{form.debug_input}}</p>
<p>
    <input id="submit" type="button" value="Submit" />
</p>
<div id="loading" class="hidden">
    Loading...
</div>
<div id="all-correct" class="hidden">
    Well done!
</div>
<div id="result-table" class="hidden">
    <div class="header">
        <div class="cell program-type-analysis">Input</div>
        <div class="cell program-type-analysis">Expected</div>
        <div class="cell program-type-analysis">Printed</div>

        <div class="cell function-type-analysis">Parameter(s)</div>
        <div class="cell function-type-analysis">Expected</div>
        <div class="cell function-type-analysis">Returned</div>

        <div class="cell">Correct</div>
    </div>
    <div class="row">
        <div class="cell program-type-analysis" id="program-inp">
            None
        </div>
        <div class="cell program-type-analysis" id="program-exp">
            None
        </div>
        <div class="cell program-type-analysis" id="program-got">
            None
        </div>
        <div class="cell function-type-analysis" id="function-inp">
            None
        </div>
        <div class="cell function-type-analysis" id="function-exp">
            None
        </div>
        <div class="cell function-type-analysis" id="function-got">
            None
        </div>
        <div class="cell">
            <img id="correctness-img" src="https://png.icons8.com/flat_round/50/000000/available-updates.png"/>
        </div>
    </div>
</div>
<a id="credit" class="hidden" href="https://icons8.com">Icon pack by Icons8</a>
<pre><div id="error" class="hidden"></div></pre>
<br>
<button id="show_solution">Show Suggested Solution</button>
<pre><div id="solution"></div></pre>

