{% extends "questions/base.html" %}

{% block content %}
<b>Skill Areas</b>
{% if skill_list %}
    <ul>
    {% for skill in skill_list %}  
        <li>
            <a href="/skills/{{skill.id}}">{{skill.name}}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No skill areas are available (use admin site to add)</p>
{% endif %}

{% if history %}
    <b>Recommended Questions</b>:
    <br>
    <ul>
    {% for question in history %}
    <li>
        <a href="/questions/{{question.id}}">
            {{question.title}}
        </a>
    </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}