
<p>Construct your program by dragging and dropping lines from the left to the solution area on the right. You can indent by dragging the block further to the right. Note that you may not need to use all of the blocks from the left.</p>

<div id="jsparsons-source" class="sortable-code"></div>
<div id="jsparsons-target" class="sortable-code"></div>
<div style="clear:both;"></div>
<br>
<p>
    <button href="#" id="newInstanceLink">Reset</button>
    <button href="#" id="feedbackLink">Submit</button>
</p>
<pre><div id="feedback"></div></pre>
<img id="has_saved" class="hidden" src="https://png.icons8.com/color/50/000000/ok.png" />

