<form class="form-inline">
    <div class="form-group" style="display:block">
        {% if question.buggy_program %}
        <div id="editor" class="form-control">{{question.buggy_program}}</div>
        {% else %}
        <div id="editor" class="form-control">{{previous_attempt}}</div>
        {% endif %}
    </div>
</form>
{% if question.buggy_program %}
<p>Find an input for which the above solution does not work as intended.</p>
<p>Input: {{form.debug_input}} </p>
{% endif %}
<p>
    {% if request.user.is_authenticated and not question.buggy_program %}
    <input id="save" type="button" value="Save" />
    <img id="has_saved" src="https://png.icons8.com/color/50/000000/ok.png" />
    {% endif %}
    <input id="submit" type="button" value="Submit" />
</p>
<div id="loading">
    Loading...
</div>
<div id="all-correct">
    Well done!
</div>
<div id="result-table">
    <div class="header">
        <div class="cell program-type-analysis">Input</div>
        <div class="cell program-type-analysis">Expected</div>
        <div class="cell program-type-analysis">Got</div>

        <div class="cell function-type-analysis">Parameter(s)</div>
        <div class="cell function-type-analysis">Expected</div>
        <div class="cell function-type-analysis">Got</div>

        <div class="cell">Correct</div>
    </div>
    {% for case in question.test_cases.all %}
    <div class="row">
        <div class="cell program-type-analysis">
            {{case.test_input}}
        </div>
        <div class="cell program-type-analysis">
            {{case.expected_output}}
        </div>
        <div class="cell program-type-analysis" id="program-got{{forloop.counter0}}">
            Pending
        </div>
        <div class="cell function-type-analysis">
            {{case.function_params}}
        </div>
        <div class="cell function-type-analysis">
            {{case.expected_return}}
        </div>
        <div class="cell function-type-analysis" id="function-got{{forloop.counter0}}">
            Pending
        </div>
        <div class="cell">
            <img id="correctness-img{{forloop.counter0}}" src="https://png.icons8.com/flat_round/50/000000/available-updates.png"/>
        </div>
    </div>
    {% endfor %}
</div>
<a id="credit" href="https://icons8.com">Icon pack by Icons8</a>
<pre><div id="error"></div></pre>
<br>
<button id="show_solution">Show Suggested Solution</button>
<pre><div id="solution"></div></pre>

