{% extends "questions/base.html" %}

{% block content %}
<b>{{question.title}}</b>
<p>
    {{question.question_text}}
</p>
<textarea id="user_input">print(2)</textarea>
<p>
    <input id="submit" type="button" value="Submit" />
</p>
<div id="loading">
    Loading...
</div>
<span id="output"></span>
{% endblock %}

{% block javascript %}
<script>
    $('#loading').hide();
    $('#output').hide();

    var poll_sphere_engine = function(id) {
        $('#loading').show();
        $.ajax({
            url: '/ajax/get_output/',
            method: 'GET',
            data: {
                id: id,
                question: '{{ question.id }}'
            },
            dataType: 'json',
            success: function(result) {
                $('#loading').hide();
                console.log(result);

                $('#output').text(result.output);
                $('#output').show();
            }
        });
    }

    $("#submit").click(function () {
        var user_input = $("#user_input").val();

        $.ajax({
            url: '/ajax/send_code/',
            method: 'POST',
            data: {
                user_input: user_input,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (result) {
                console.log(result.data.id);
                poll_sphere_engine(result.data.id)
            }
        });
    });
</script>
{% endblock %}