{% extends "questions/base.html" %}

{% block content %}
<b>{{question.title}}</b>
<p>
    {{question.question_text}}
</p>
<textarea id="user_input">print(2)</textarea>
<p>
    <input id="submit" type="button" value="Submit" />
</p>
<div id="loading">
    Loading...
</div>
<span id="output"></span>
<div id="all-correct">
    Well done!
</div>
{% endblock %}

{% block javascript %}
<script>
    $('#loading').hide();
    $('#output').hide();
    $('#all-correct').hide();

    var poll_sphere_engine = function(id) {
        $.ajax({
            url: '/ajax/get_output/',
            method: 'GET',
            data: {
                id: id,
                question: '{{ question.id }}'
            },
            dataType: 'json',
            success: function(result) {
                
                console.log(result);
                if (result.completed) {
                    $('#loading').hide();
                    //$('#output').text(result.output);
                    //$('#output').show();
                    // todo display output in structure like coderunner

                    var correctness_array = JSON.parse(result.output);
                    var all_correct = true;
                    for (var i = 0; i < correctness_array.length; i++) {
                        if (correctness_array[i] == false) {
                            all_correct = false;
                        }
                    }
                    if (all_correct) {
                        $('#all-correct').show();
                    }

                } else {
                    poll_sphere_engine(id);
                }
            }
        });
    }

    $("#submit").click(function () {
        var user_input = $("#user_input").val();

        $.ajax({
            url: '/ajax/send_code/',
            method: 'POST',
            data: {
                user_input: user_input,
                question: '{{ question.id }}',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (result) {
                var submission_id = result.id;
                console.log(submission_id);
                $('#loading').show();
                $('#output').hide();
                $('#all-correct').hide();
                poll_sphere_engine(submission_id);
            }
        });
    });
</script>
{% endblock %}