{% extends "questions/base.html" %}
{% load static %}

{% block stylesheet %}
{% if question_subclass == "parsons" %}
    <link rel="stylesheet" href="{% static 'questions/scripts/vendor/js-parsons-master/parsons.css' %}" />
    <link rel="stylesheet" href="{% static 'questions/scripts/vendor/js-parsons-master/lib/prettify.css' %}" />
    <script src="{% static 'questions/scripts/vendor/js-parsons-master/lib/prettify.js' %}"></script>
{% else %}

{% endif %}
{% endblock %}

{% block content %}
<b>{{question.title}}</b>
<p>
    <pre>{{question.question_text|linebreaks}}</pre>
</p>
{% if question_subclass == "parsons" %}
    {% include "questions/parsons.html" %}
{% elif question_subclass == "buggy" or question_subclass == "buggy_func" %}
    {% include "questions/buggy.html" %}
{% elif question_subclass == "programming" or question_subclass == "programming_func" %}
    {% include "questions/programming.html" %}
{% endif %}
{% endblock %}

{% block javascript %}
<script>
    var question_id = {{question.id}}; 
</script>
<script src="{% static 'questions/scripts/question.js' %}"></script>
{% if question_subclass == "parsons" %}
    <script src="{% static 'questions/scripts/vendor/js-parsons-master/lib/jquery.min.js' %}"></script>
    <script src="{% static 'questions/scripts/vendor/js-parsons-master/lib/jquery-ui.min.js' %}"></script>
    <script src="{% static 'questions/scripts/vendor/js-parsons-master/lib/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'questions/scripts/vendor/js-parsons-master/lib/underscore-min.js' %}"></script>
    <script src="{% static 'questions/scripts/vendor/js-parsons-master/lib/lis.js' %}"></script>
    <script src="{% static 'questions/scripts/vendor/js-parsons-master/parsons.js' %}"></script>
    <script>
        var initial = "{{question.solution|escapejs}}";
    </script>
    <script src="{% static 'questions/scripts/parsons.js' %}"></script>
{% elif question_subclass == "buggy" or question_subclass == "buggy_func" %}
    <script src="{% static 'questions/scripts/vendor/ace-builds-master/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script> 
        var buggy_program = "{{question.buggy.buggy_program|escapejs}}";
        var solution = '{{question.solution|linebreaks}}';
    </script>
    <script src="{% static 'questions/scripts/buggy.js' %}"></script>
{% elif question_subclass == "programming" or question_subclass == "programming_func" %}
    <script src="{% static 'questions/scripts/vendor/ace-builds-master/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script> 
        var solution = '{{question.solution|linebreaks}}';
    </script>
    <script src="{% static 'questions/scripts/programming.js' %}"></script>
{% endif %}
{% endblock %}