{% extends "questions/base.html" %}

{% block content %}
<b>Questions</b>
{% if questions %}
    <ul>
    {% for question in questions %}  
        <li>
            {% if question.completed %}
                <a class="completed" href="/questions/{{question.id}}">{{question.title}}</a>
            {% elif question.attempted %}
                <a class="attempted" href="/questions/{{question.id}}">{{question.title}}</a>
            {% else %}
            <a href="/questions/{{question.id}}">{{question.title}}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available for this category</p>
{% endif %}
{% endblock %}