{% extends "base.html" %}

{% load static %}

{% block page_heading %}
    <h1>Research</h1>
{% endblock page_heading %}

{% block content %}
    <p>Description to be added.</p>

    {% if studies %}
        {% for study in studies %}
            <div class="card" class="mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ study.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ study.start_date }} to {{ study.end_date }}
                    </h6>
                    <a href="{{ study.get_absolute_url }}" class="card-link  stretched-link">Read more</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Currently no studies are listed.</p>
    {% endif %}
{% endblock content %}
