{% extends "base.html" %}

{% load static %}

{% block title %}Admin - {{ study.title }}{% endblock %}

{% block page_heading %}
    <h1>
        <span class="text-muted">Research Study Admin:</span><br>
        {{ study.title }}
    </h1>
{% endblock page_heading %}

{% block content %}
    <h3>Details</h3>
    <ul class="list-unstyled">
        <li><strong>Start date:</strong> {{ study.start_date }}</li>
        <li><strong>End date:</strong> {{ study.end_date }}</li>
        <li><strong>Visible:</strong> {{ study.visible }}</li>
        <li><strong>Open to user types:</strong> {{ study.user_types.all|join:", " }}.</li>
    </ul>

    <h3>Study Groups</h3>
    {% if study.groups.all %}
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="align-top">Group name</th>
                    <th scope="col" class="align-top">Number of participants</th>
                    <th scope="col" class="align-top">Number of questions</th>
                </tr>
            </thead>
            <tbody>
                {% for group in study.groups.all %}
                    <tr>
                        <th scope="row" class="align-middle">
                            {{ group.title }}
                        </th>
                        <td class="align-middle">
                            {{ group.registrations.count }}
                        </td>
                        <td class="align-middle">
                            {{ group.questions.count }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No study groups specified for this study.</p>
    {% endif %}

    <h3>Download data</h3>
    <a href="{% url 'research:study_admin_csv' study.pk %}" download target="_blank" class="btn btn-outline-primary">Download CSV of attempts</a>

{% endblock content %}
