{% extends "research/base.html" %}

{% load static i18n %}

{% block title %}{{ study.title }}{% endblock %}

{% block content_container %}
    <div class="col-12">
        {% if registration %}
            <div class="alert alert-info mb-3" role="alert">
                <p class="mb-0">
                    You registered for this study at {{ registration.datetime|time:"g:i A" }} on {{ registration.datetime|date:"l j F Y" }}.
                    A copy of your signed consent form was emailed to you at this time.
                    If you wish to withdraw from this study please contact the researcher{{ study.researchers.count|pluralize }}.
                </p>

                {% if study.researchers.all %}
                    <p class="my-2"><strong>Researcher{{ study.researchers.count|pluralize }}</strong></p>
                    <ul class="mb-0">
                        {% for researcher in study.researchers.all %}
                            <li>
                                <a href="mailto:{{ researcher.email }}">
                                    {{ researcher.get_full_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        <p class="mb-2">
            <strong>Starts:</strong> {{ study.start|date:"DATETIME_FORMAT" }}
        </p>
        <p>
            <strong>Ends:</strong> {{ study.end|date:"DATETIME_FORMAT" }}
        </p>

        {% include "research/study_description.html" %}

        {% if not registration %}
            <div class="my-3">
                <a href="{% url 'research:consent_form' %}" class="btn btn-success btn-lg">
                    Register for study
                </a>
            </div>
        {% endif %}

        <div class="mt-5">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'general:home' %}">
                {% trans "Return to the homepage" %}
            </a>
        </div>
    </div>
{% endblock content_container %}
