.white-footer {
  border-top: 2px $brand-colour solid;
}
#page-footer {
  background-color: $brand-colour;
  color: rgba($white, 0.5);
  a {
    color: rgba($white, 0.9);
    @include hover-focus {
      color: $white;
    }
  }
  .footer-statement {
    border-top: 1px $white solid;
  }
}
