#codewof-navbar {
    background-color: $brand-colour !important;
    padding-top: 0;
    padding-bottom: 0;
    .navbar-brand {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        svg {
            height: 1.3rem;
        }
    }
    .navbar-toggler {
        border: 0;
    }
    .nav-link {
        color: rgba(255, 255, 255, .9);
        line-height: 1rem;
    }
    .nav-link:hover,
    .nav-hover:hover {
        background-color: $brand-colour-light;
    }
    svg {
        height: 1rem;
        width: auto;
        vertical-align: middle;
    }
    .orange-bracket {
        color: #ffbf29;
        font-weight: bold;
    }
}
