@import "core-variables";

// Logo SVG classes

.logo_text {
  fill: $brand-colour;
}
.logo_symbol {
  fill: $brand-secondary-colour;
}
 
.inverse-logo {
  .logo_text {
    fill: white;
  }
}

.orange-underline {
  border-bottom: 0.5rem $brand-secondary-colour solid;
}

.navbar-brand {
  padding: 0 0.5rem;
  
  svg {
    height: 1.3rem;
    width: auto;
    vertical-align: middle;
  }
}

.page-header {
  color: $brand-secondary-colour;
}

// Override Bootswatch css with default bootstrap css

.breadcrumb {
  margin-top: 1rem;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 1.2rem;
}

b {
  color: #48484c;
}

.pull-right {
  float: right !important;
}

.button-form {
  float: right;
  margin-right: 1rem;
}
