svg {
  width:auto !important;
  cursor: pointer;
}

.feed-text {
  font-size: 14px !important;;
}

.thumb {
  display: none;
}

.thumb:checked + svg {
  fill: #1766ff;
}

.thumb:disabled + svg {
  opacity: 50%;
  cursor: auto !important;
}

.td-thumb {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.td-like-count {
  padding-left: 5px !important;
}

.span-like-count {
  color: #1766ff;
}
