$highlight_colour: #ffeb3b;

.style-highlight {
    background-color: $highlight_colour;
}

.issue-card {
    user-select: none;
    cursor: pointer;
}

#code-container {
    position: sticky;
    top: 0;
}

.CodeMirror {
    height: 500px;
}

.read-only {
    background-color: #e6e6e6;
}

#run-checker-error {
    display: none;
}
