
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "core-variables";
@import "functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";
@import "details";
@import "navbar";
@import "homepage";
@import "footer";
@import "question-card";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Righteous&display=swap');
@import "node_modules/codemirror/lib/codemirror";

html, body {
  height: 100%
}

body {
  font-family: 'Noto Sans', sans-serif !important;
  background-color: #fffcf8;
  flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Righteous', sans-serif;
    color: hsl(hue($brand-colour), saturation($brand-colour), 25%);
}

svg {
  width: 100%;
}

#codewof-navbar {
    background-color: $brand-colour;
    .navbar-brand {
        font-family: 'Righteous', sans-serif;
    }
}
#codewof-title {
    font-size: 6rem;
    color: $brand-colour;
}

.code-read-only {
  cursor: not-allowed;
  background-color: #dfdfdf;
}

// Forms

form {
  .asteriskField {
      color: #ff3f34;
      font-weight: bold;
  }
  .invalid-feedback {
    display: block !important;
}
}


// Forms end

#test-case-table {
    white-space: nowrap;
}

.error {
    color: #b80000;
    font-weight: bold;
}

.question-checkbox {
  width: 30px;
}

// Parsons problems

.parsons-drag-container {
    padding: 0.7rem 0;
    .parsons-drag-container {
        margin-left: 2rem;
    }
}

$parsons-hover-colour: #2196f35c;
.parsons-drag-top-container.dragging,
.parsons-drag-top-container.dragging .parsons-drag-container {
      background-image: radial-gradient($parsons-hover-colour 20%, transparent 20%), radial-gradient($parsons-hover-colour 20%, transparent 20%);
    background-position: 0px 0, 5px 5px;
    background-size: 10px 10px;
}

.parsons-draggable-line {
    font-family: $font-family-monospace;
    background: #f2f3f5;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 0.3rem;
    cursor: grab;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
}
#user-code-lines,
#available-lines {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0.3rem 0.3rem 3rem;
    min-height: 5rem;
    > .parsons-draggable-line {
        margin-left: 0 !important;
    }
    > .parsons-draggable-line:last-child {
        margin-bottom: 0 !important;
    }
}
.parsons-line-content {
    position: relative;
    top: 0.5rem;
}
.sortable-chosen {
    opacity: 0.5;
}

// Other

strong {
  font-weight: bold;
}

.logo-header {
  max-height: 10rem;
}
#svg-logo-inline {
  width: 12rem;
  vertical-align: 3px;
}

.footer-logo {
    max-height: 5rem;
}

// Create achievement CSS rules off colour names
@each $color, $value in $colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

.achievement-container {
  clear: both;
  padding-bottom: 0.5rem;
}

.achievement-icon {
  padding: 0.3125rem;
  float: left;
}

.achievement-icon-unachieved {
  padding: 0.3125rem;
  opacity: 0.2;
}

.achievements-link,
.achievements-link:hover {
  color: inherit;
}

.img-inline {
    max-height: 1.5rem;
}

.img-y1 {
  max-height: 1rem;
}
.img-y2 {
  max-height: 2rem;
}
.img-y3 {
  max-height: 3rem;
}
.img-y4 {
  max-height: 4rem;
}
.img-y5 {
  max-height: 5rem;
}
.img-x1 {
  max-width: 1rem;
}
.img-x2 {
  max-width: 2rem;
}
.img-x3 {
  max-width: 3rem;
}
.img-x4 {
  max-width: 4rem;
}
.img-x5 {
  max-width: 5rem;
}
////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}


// Logo SVG classes

.logo_text {
  fill: $brand-colour;
}

.logo_symbol {
  fill: $brand-secondary-colour;
}

.inverse-logo {
  .logo_text {
    fill: white;
  }
}

.orange-underline {
  border-bottom: 0.5rem $brand-secondary-colour solid;
}

#toast-container {
  position: fixed;
  top: 3rem;
  right: 2rem;
}

.toast {
  border: 1px solid $brand-colour;
  background-color: brand-colour-light;
  text-align: center;
}

.toast-header {
  border: 1px solid $brand-colour;
  background-color: brand-colour-light;
  width: 100%;
  font-weight: bold;
  display: inline-block;
}

.toast-header strong {
  color: black;
  font-weight: bold;
}

.toast-body {
  border: 1px solid $brand-colour;
  background-color: brand-colour-light;
  white-space: pre;
}

@include media-breakpoint-down(sm) {
  #introjs-tutorial {
    display: none;
  }
}

#content-container {
  flex: 1 0 auto;
}

.output-help-text {
  color: #b80000;
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 0;
  white-space: normal;
}

#notifications-p {
  margin-top: 20px;
}
