{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Questions{% endblock %}

{% block page_heading %}
    <h1>Questions</h1>
{% endblock page_heading %}

{% block content %}
    <p>Currently all questions are based in Python 3.</p>
    <br>
    <h2>Your recommended questions</h2>
    {% include "programming/question_components/question_recommendations.html" %}
    <br>
    <h2>All questions</h2>
    <details {% if filter_button_pressed %} open {% endif %}>
        <summary>Filter Questions</summary>
        {% crispy filter.form filter_formatter %}
    </details>

    {% if filter.qs %}
        <div class="row">
            {% for question in filter.qs %}
                <div class="col-12 col-md-6 col-lg-4">
                    {% include "programming/question_components/question-card.html" %}
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p class="text-center">
                <strong>Sorry!</strong></br>
                No questions found matching the selected filters. </br>
                We recommend a less specific search.
            </p>
        {% endif %}

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/question_list/checkbox_listener.js' %}"></script>
{% endblock scripts %}
