{% extends "base.html" %}

{% load static %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
    <div class="col-12 my-3">
        <div class="mb-2">
            <h3 class="d-inline">{{ question.title }}</h3>
            <button id="introjs-tutorial" class="btn btn-outline-secondary btn-sm float-right">How does this page work?</button>
        </div>
        <div class="question-text">
            {{ question.question_text|safe }}
        </div>

        {% if not request.user.is_authenticated %}
            <div class="alert alert-warning" role="alert">
                <a href="{% url 'account_login' %}" class="alert-link">Login to your account now</a> to save
                any progress.
            </div>
        {% endif %}
    </div>

    <div class="col-12">
        {% if question.QUESTION_TYPE == QUESTION_TYPE_PARSONS %}
            {% include "programming/question_components/editor-parsons.html" %}
        {% else %}
            {% if question.QUESTION_TYPE == QUESTION_TYPE_DEBUGGING %}
                {% if question.read_only_lines_top or question.read_only_lines_bottom %}
                    <div class="alert alert-secondary" role="alert">
                        <em>Lines highlighted in grey are locked and cannot be changed.</em>
                    </div>
                {% endif %}
            {% endif %}
            {% include "programming/question_components/editor-python.html" %}
            <div class="mb-3">
                <small class="text-muted font-italic mb-3">The tab button is configured to add 4 spaces.</small>
            </div>
        {% endif %}

        <div id="indentation-warning" class="alert alert-danger d-none">
            It looks like you have used tab characters to indent your code. It is good Python style to use spaces, please remove any tab characters and try again.
        </div>
        <div class="d-flex justify-content-between mb-3">
            <button id="run_code" type="button" class="btn btn-primary">
                Run code
            </button>
            {% if question.QUESTION_TYPE == QUESTION_TYPE_DEBUGGING %}
                <button type="button" id="reset_to_initial" class="btn btn-secondary">
                    Reset to initial code
                </button>
            {% endif %}
        </div>
        <div id="submission_feedback"></div>
    </div>

    <div class="col-12">
        {% if question.QUESTION_TYPE == QUESTION_TYPE_PROGRAM %}
            {% include "programming/question_components/test-case-programs-table.html" %}
        {% else %}
            {% include "programming/question_components/test-case-functions-table.html" %}
        {% endif %}
    </div>

    <div class="text-center">
        <a class="btn btn-outline-primary" href="{% url 'users:dashboard' %}">Return to dashboard</a>
    </div>
    <div id="toast-container">
      <div id="achievement_toast" data-animation="true" class="toast hide" role="alert" data-delay=8000 aria-live="assertive" aria-atomic="true">
        <div class="toast-header" id="achievement_toast_header">
          <strong>You earned a new achievement!</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body" id="achievement_toast_body">
          Check your dashboard for details!
        </div>
      </div>
      <div id="point_toast" data-animation="true" class="toast hide" role="alert" data-delay=8000 aria-live="assertive" aria-atomic="true">
        <div class="toast-header" id="point_toast_header">
          <img src="{% static 'svg/icons8-points.svg' %}"/>
          <strong>You earned points!</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body" id="point_toast_body">
          Check your dashboard for details!
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    {% csrf_token %}
    <script>
        var csrf_token = jQuery("[name=csrfmiddlewaretoken]").val();
        var question_id = {{ question.id }};
        var test_cases_list = {{ test_cases_json|safe }};
        {% if question.QUESTION_TYPE == QUESTION_TYPE_DEBUGGING %}
            var read_only_lines_top = {{ question.read_only_lines_top }};
            var read_only_lines_bottom = {{ question.read_only_lines_bottom }};
            var initial_code = `{{ question.initial_code|escapejs }}`;
        {% endif %}
    </script>
    <script src="{% static question_js %}"></script>
{% endblock scripts %}
