{% extends "email_template.html" %}
{% load account %}
{% load i18n %}

{% user_display user as user_display %}

{% block greeting %}
  {% blocktrans with site_name=current_site.name %}
    Hello from {{ site_name }}!
  {% endblocktrans %}
{% endblock %}
{% block main_message %}{% block content %}{% endblock %}{% endblock %}

{% block conclusion %}
  {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using {{ site_name }}!
  <br>
  {{ site_domain }}{% endblocktrans %}
{% endblock %}
